{{ template "head.html" . }}
<body>
  {{ template "searchbar.html" . }}
  <div class="mdl-grid">
    {{ range $key, $lesson := .Entries }}
    <div class="mdl-cell mdl-cell--4-col mdl-cell--stretch">
      <div class="mdl-card mdl-shadow--2dp" style="width:100%">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">{{$lesson.Title}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Chaire: {{$lesson.Chaire}}<br>
          Lecturer: {{$lesson.Lecturer}}<br>
          Function: {{$lesson.Function}}<br>
          Date: {{$lesson.Date}}<br>
          Lesson type: {{$lesson.LessonType}}<br>
          Lesson subject: {{$lesson.TypeTitle}}<br>
          {{$lesson.DurationSec}} sec.
        </div>
        <div class="mdl-card__menu">
          {{ if $lesson.Converted }}
          <div id="{{$key}}-done-id" class="icon material-icons">done</div>
          <div class="mdl-tooltip" data-mdl-for="{{$key}}-done-id">
          This lesson has been transcribed
          </div>
          {{ else if $lesson.Scheduled }}
          <div id="{{$key}}-sched-id" class="icon material-icons">hourglass_empty</div>
          <div class="mdl-tooltip" data-mdl-for="{{$key}}-sched-id">
          This lesson has been scheduled for transcription
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  <div class="navigation" style="margin: 16px;">
    <a href="/?cursor={{.Cursor}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Next page</a>
  </div>
  {{ template "footer.html" . }}
</body>
