{{ template "head.html" . }}
<body>
  {{ template "searchbar.html" . }}
  <div class="mdl-grid">
    {{ range $key, $lesson := .Entries }}
    <div class="mdl-cell mdl-cell--4-col mdl-cell--stretch">
      <div class="mdl-card mdl-shadow--2dp" style="width:100%">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">{{$lesson.Title}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Chaire: {{$lesson.Chaire}}<br>
          Lecturer: {{$lesson.Lecturer}}<br>
          Function: {{$lesson.Function}}<br>
          Date: {{$lesson.Date}}<br>
          Lesson type: {{$lesson.LessonType}}<br>
          Lesson subject: {{$lesson.TypeTitle}}<br>
          {{$lesson.DurationSec}} sec.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <div>Converted: {{$lesson.Converted}}</div>
          <div>Scheduled: {{$lesson.Scheduled}}</div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  <div class="navigation" style="margin: 16px;">
    <a href="/?cursor={{.Cursor}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Next page</a>
  </div>
  {{ template "footer.html" . }}
</body>
