{{ template "head.html" . }}
<body>
  {{ template "searchbar.html" . }}
  <span class="mdl-chip">
    <span class="mdl-chip__text">
      Search took {{.TookMs}}ms. {{if .TimedOut}}Timed out!{{end}}
    </span>
  </span>
  <div class="mdl-grid">
    {{ range $source := .Sources }}
    <div class="mdl-cell mdl-cell--4-col mdl-cell--stretch">
      <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">{{$source.Title}}</h2>
          <div class="mdl-card__subtitle-text">
            Chaire: {{$source.Chaire}}<br>
            Lecturer: {{$source.Lecturer}}<br>
            {{ if $source.Language }}
            Language: {{$source.Language}}<br>
            {{ end }}
          </div>
        </div>
        <div class="mdl-card__supporting-text">
          <div>... {{$source.Transcript}} ...</div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
             href="{{$source.URL}}"
             target="_blank">
            View on <i>College de France</i> website
          </a>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  {{ template "footer.html" . }}
</body>
